@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html{
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #3d1901;
  overflow-x: hidden;
  width: 100vw;
}

a{
  text-decoration: none;
}

/* Navigation */

nav {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin-bottom: 5%;
}

#logo{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

#logo img {
  width: 400px;
  height: auto;
}

#logo .avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  border: #0bcf36 solid 3px;
  transition: all 0.5s ease-in-out;
}
#logo .avatar:hover {
  border: #f47c00 solid 3px;
}

nav #avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
}

.link {
  list-style: none;
  color: #3d1901;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

nav .link:hover {
  background-color: #f47c00;
  color: white;
  width: 30%;
  height: auto;
  padding: 18px;
  border-radius: 8px;
}

ul{
  font-size: 3vh;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 1.5%;
}

.button {
  border-radius: 4px;
  padding: 8px 16px;
  transition: all 0.5s ease-in-out;
  color: white;
}

.button.primary {
  background: #0bcf36;
  border: 2px solid #0bcf36;
  width: 110px;
}
.button.primary:hover {
  background: #f47c00;
  border: 2px solid #f47c00;
}



/* Main */

/* Class Banner */

.banner{
  margin-bottom: 5%;
}

.banner img{
  width: 50%;
  height: auto;
  position: absolute;
}

.banner_img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 580px;
  background-image: url("images/fruits.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.b_banner {
  border-radius: 4px;
  padding: 8px 16px;
  transition: all 0.5s ease-in-out;
  border: 1px solid #3d1901;
  color: #3d1901;
  background: white;
  position: relative;
  font-size: x-large;
}
.b_banner:hover{
  background-color: #3d1901;
  color: white;
}

.b_article {
  border-radius: 4px;
  padding: 8px 16px;
  transition: all 0.5s ease-in-out;
  border: 1px solid #3d1901;
  color: #3d1901;
  background: white;
  position: relative;
  font-size: x-large;
}
.b_article:hover{
  background-color: #3d1901;
  color: white;
}

/* Class Emoji */

h1{
  text-align: center;
}

#id_values{
  text-align: center;
  margin-bottom: 5%;
}

.emoji{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.fa-2xl{
  font-size: 3em!important;
  line-height: .03125em;
  vertical-align: -.1875em;
}

.div_cart{
  display: flex;
  justify-content: center;
  gap: 5%;
}
.cart{
  width: 20%;
  height: 400px;
  padding: 2%;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
  border-radius: 16px;
  transition: all 0.5s ease-in-out;
  text-align: center;
}
.cart:hover{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,1);
}

.b_cart {
  border-radius: 4px;
  padding: 8px 16px;
  transition: all 0.5s ease-in-out;
  border: 1px solid #3d1901;
  color: #3d1901;
  background: white;
}
.b_cart:hover{
  background-color: #3d1901;
  color: white;
}

/* ID and Class shopping */


#cocoa{
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  padding-top: 5%;
  gap: 2%;
}

#chocolate{
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  padding-top: 5%;
  gap: 2%;
}

#attieke{
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
}

#pepper{
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
}

#chips{
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
}

#cocoa #choco_powder{
  border: 1px solid #3d1901;
  box-shadow: none;
}

#cocoa .shopping_cocoa{
  text-align: center;
  width: 15%;
  height: auto;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
  border-radius: 16px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  padding: 3%;
}

#cocoa .shopping_cocoa:hover{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,1);
}

#chocolate .shopping_chocolate{
  text-align: center;
  width: 10%;
  height: auto;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
  border-radius: 16px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  padding: 1%;
}

#chocolate .shopping_chocolate:hover{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,1);
}

#attieke .shopping_attieke{
  text-align: center;
  width: 10%;
  height: auto;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
  border-radius: 16px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  padding: 1%;
}

#attieke .shopping_attieke:hover{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,1);
}

#pepper .shopping_pepper{
  text-align: center;
  width: 10%;
  height: auto;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
  border-radius: 16px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  padding: 1%;
}

#pepper .shopping_pepper:hover{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,1);
}

#chips .shopping_chips{
  text-align: center;
  width: 10%;
  height: auto;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
  border-radius: 16px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  padding: 1%;
}

#chips .shopping_chips:hover{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,1);
}

#shopping img{
  width: 10%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  border: 0.2px solid #3d1901;
}

#chocolate img{
  width: 10%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  border: 0.2px solid #3d1901;
}

#attieke img{
  width: 10%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  border: 0.2px solid #3d1901;
}

#pepper img{
  width: 10%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  border: 0.2px solid #3d1901;
}

#shopping #choco_powder3 img{
  border: 0px;
} 

#chocolate2 img{
  width: 10%;
  height: auto;
}

#attieke2 img{
  width: 10%;
  height: auto;
  border: 0px;
}

#attieke3 img{
  width: 10%;
  height: auto;
  border: 0px;
}

#attieke4 img{
  width: 10%;
  height: auto;
}

#pepper2 img{
  width: 10%;
  height: auto;
  border: 0px;
}

#pepper3 img{
  width: 10%;
  height: auto;
  border: 0px;
}

#pepper4 img{
  width: 10%;
  height: auto;
  border: 0px;
}

#chips2 img{
  width: 10%;
  height: auto;
  border: 0px;
}

#chips3 img{
  width: 10%;
  height: auto;
  border: 0px;
}

#chips4 img{
  width: 10%;
  height: auto;
  border: 0px;
}


/* Footer */

footer {
  background-color: #f47c00;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
footer:hover {
  color: #3d1901;
  background-color: white;
}
