@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html{
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #3d1901;
  overflow-x: hidden;
  width: 100vw;
}

a{
  text-decoration: none;
}

/* Navigation */

nav {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin-bottom: 5%;
}

#logo{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

#logo img {
  width: 400px;
  height: auto;
}

#logo .avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  border: #0bcf36 solid 3px;
  transition: all 0.5s ease-in-out;
}
#logo .avatar:hover {
  border: #f47c00 solid 3px;
}

.testimony .avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  border: #0bcf36 solid 3px;
  transition: all 0.5s ease-in-out;
}
.testimony .avatar:hover {
  border: #f47c00 solid 3px;
}

.review {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav #avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
}

.link {
  list-style: none;
  color: #3d1901;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

nav .link:hover {
  background-color: #f47c00;
  color: white;
  width: 30%;
  height: auto;
  padding: 18px;
  border-radius: 8px;
}

ul{
  font-size: 3vh;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 1.5%;
}

.button {
  border-radius: 4px;
  padding: 8px 16px;
  transition: all 0.5s ease-in-out;
  color: white;
}

.button.primary {
  background: #0bcf36;
  border: 2px solid #0bcf36;
  width: 110px;
}
.button.primary:hover {
  background: #f47c00;
  border: 2px solid #f47c00;
}



/* Main */

/* Class Banner */

.banner{
  margin-bottom: 5%;
}

.banner img{
  width: 50%;
  height: auto;
  position: absolute;
}

.banner_img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 580px;
  background-image: url("images/fruits.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.b_banner {
  border-radius: 4px;
  padding: 8px 16px;
  transition: all 0.5s ease-in-out;
  border: 1px solid #3d1901;
  color: #3d1901;
  background: white;
  position: relative;
  font-size: x-large;
}
.b_banner:hover{
  background-color: #3d1901;
  color: white;
}

.b_article {
  border-radius: 4px;
  padding: 8px 16px;
  transition: all 0.5s ease-in-out;
  border: 1px solid #3d1901;
  color: #3d1901;
  background: white;
  position: relative;
  font-size: x-large;
}
.b_article:hover{
  background-color: #3d1901;
  color: white;
  border: 1px solid white;
}

/* Class Emoji */

h1{
  text-align: center;
}

#id_values{
  text-align: center;
  margin-bottom: 5%;
}

#id_testimony{
  text-align: center;
  margin-bottom: 7%;
  margin-top: 5%;
}

.emoji{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.testimony{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15%;
}

.h2_contact{
  text-align: center;
}

#contact{
  display: flex;
  width: 40%;
  height: auto;
  padding: 3%;
  border: 2px solid #3d1901;
  border-radius: 16px;
  margin-top: 14%;
  display: block;
  margin: auto;
}

.div_contact{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.div_name{
  display: flex;
  justify-content: center;
  gap: 65px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.div_mail{
  display: flex;
  justify-content: center;
  gap: 63px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.div_msg{
  display: flex;
  justify-content: center;
  gap: 43px;
  margin-top: 3%;
  margin-bottom: 7%;
}

.contact_button{
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 7%;
}

textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

.fa-2xl{
  font-size: 3em!important;
  line-height: .03125em;
  vertical-align: -.1875em;
}

.div_cart{
  display: flex;
  justify-content: center;
  gap: 5%;
}
.cart{
  width: 20%;
  height: 400px;
  padding: 2%;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
  border-radius: 16px;
  transition: all 0.5s ease-in-out;
  text-align: center;
}
.cart:hover{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,1);
}

.cart h3{
  margin-bottom: 20%;
}
.cart #cart1{
  padding-top: 10%;
  padding-bottom: 20%;
}
.cart #cart2{
  padding-top: 8%;
  padding-bottom: 5%;
}
.cart #cart3{
  padding-top: 10%;
  padding-bottom: 22%;
}

.b_cart {
  border-radius: 4px;
  padding: 8px 16px;
  transition: all 0.5s ease-in-out;
  border: 1px solid #3d1901;
  color: #3d1901;
  background: white;
}
.b_cart:hover{
  background-color: #3d1901;
  color: white;
}

/* ID and Class shopping */


#cocoa{
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  padding-top: 5%;
  gap: 2%;
}

#chocolate{
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  padding-top: 5%;
  gap: 2%;
}

#attieke{
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  padding-top: 5%;
  gap: 2%;
}

#pepper{
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  padding-top: 5%;
  gap: 2%;
}

#chips{
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  padding-top: 5%;
  gap: 2%;
}

#choco_powder{
  background-color: #3d1901;
  color: white;
}

#choco_powder p{
padding-top: 20%;
padding-bottom: 38%;
}

#chocolate1 p{
  padding-top: 15%;
  padding-bottom: 25%;
}

#attieke1 p{
  padding-top: 28%;
  padding-bottom: 38%;
}

#pepper1 p{
  padding-top: 15%;
  padding-bottom: 25%;
}

#chips1 p{
  padding-top: 18%;
  padding-bottom: 28%;
}
/*
#choco_powder{
  color: white;
  opacity: 90%;
  background-image: url("images/cab3.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
*/

#chocolate1{
  background: #3d1901;
  color: white;
}

#attieke1{
  background: #3d1901;
  color: white;
}

#pepper1{
  background: #3d1901;
  color: white;
}

#chips1{
  background: #3d1901;
  color: white;
}

#cocoa #choco_powder{
  border: 1px solid #3d1901;
  box-shadow: none;
}

#chocolate #chocolate1{
  border: 1px solid #3d1901;
  box-shadow: none;
}

#attieke #attieke1{
  border: 1px solid #3d1901;
  box-shadow: none;
}

#pepper #pepper1{
  border: 1px solid #3d1901;
  box-shadow: none;
}

#chips #chips1{
  border: 1px solid #3d1901;
  box-shadow: none;
}

#cocoa .shopping_cocoa{
  text-align: center;
  width: 15%;
  height: auto;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
  border-radius: 16px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  padding: 3%;
}

#cocoa .shopping_cocoa:hover{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,1);
}

#cocoa .shopping_cocoa h3{
    margin: 5px;
    padding-bottom: 17px;
}

#choco_powder3 #h3_choco_powder3{
  margin-bottom: 14px;
}

#choco_powder4 #h3_choco_powder4{
  margin-bottom: 15px;
}

#chocolate2 #h3_chocolate2{
  padding-bottom: 12px;
}

#chocolate3 #h3_chocolate3{
  padding-bottom: 13px;
}

#chocolate4 #h3_chocolate4{
  padding-bottom: 10px;
}


#chocolate .shopping_chocolate{
  text-align: center;
  width: 15%;
  height: auto;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
  border-radius: 16px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  padding: 3%;
}

#chocolate .shopping_chocolate:hover{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,1);
}

#attieke .shopping_attieke{
  text-align: center;
  width: 15%;
  height: auto;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
  border-radius: 16px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  padding: 3%;
}

#attieke .shopping_attieke:hover{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,1);
}

#pepper .shopping_pepper{
  text-align: center;
  width: 15%;
  height: auto;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
  border-radius: 16px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  padding: 3%;
}

#pepper .shopping_pepper:hover{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,1);
}

#chips .shopping_chips{
  text-align: center;
  width: 15%;
  height: auto;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
  border-radius: 16px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  padding: 3%;
}

#chips .shopping_chips:hover{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,1);
}

#shopping img{
  width: 60%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  border: 0.2px solid #3d1901;
}

#chocolate img{
  width: 60%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  border: 0.2px solid #3d1901;
}

#chocolate3 img{
  height: 160px
}

#attieke img{
  width: 60%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  border: 0.2px solid #3d1901;
}

#pepper img{
  width: 60%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  border: 0.2px solid #3d1901;
}

#cocoa #choco_powder3 img{
  border: 0px;
  width: 120px;
  height: 150px;
} 

#choco_powder4 img{
  border: 0px;
  width: 120px;
  height: 150px;
} 

#chocolate2 img{
  width: 120px;
  height: 160px;
  border: 0px;
}

#attieke2 img{
  width: 200px;
  height: auto;
  border: 0px;
}

#attieke3 img{
  width: 150px;
  height: auto;
  border: 0px;
}

#attieke4 img{
  width: 150px;
  height: 200px;
}

#pepper2 img{
  width: 120px;
  height: 160px;
  border: 0px;
}

#pepper3 img{
  width: 60%;
  height: auto;
  border: 0px;
}

#pepper4 img{
  width: 120px;
  height: 160px;
  border: 0px;
}

#chips2 img{
  width: 120px;
  height: 160px;
  border: 0px;
}

#chips3 img{
  width: 60%;
  height: auto;
  border: 0px;
}

#chips4 img{
  width: 120px;
  height: 160px;
  border: 0px;
}


/* Footer */

footer {
  margin-top: 10%;
  background-color: #f47c00;
  color: white;
  width: auto;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
  transition: all 0.5s ease-in-out;
}

footer #foot1{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}
footer #foot1 img{
  width: 300px;
  height: 200px;
}

footer #foot3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer #foot3 #p_foot3{
  margin-bottom: 20%;
}
footer #foot3 #p2_foot3{
  margin-top: 20%;
}

footer #foot_socials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


footer #foot_socials .socio{
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  gap: 15%;
}

footer a{
  color: white;
}


